

.back{ 
    background-color:#fff;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
    padding:0;
}
                                /*HEAD*/
.head{
    background-color:#3f1c10;
    width:100%;
    height:100px;
}
                         /*PREMIERE IMAGE*/

 .premier-img{
     margin-top:100px;  
 }
.banner-text{
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:4;
    width:45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0,0,0,0.3);
    color:#fff;
    font-weight:bold;
    border:10px inset #fff;
}
.banner-text h2{
    font-size:70px;
    text-transform:uppercase;
    margin:0;
}
.banner-text p{
    padding:0 8%;
    font-family: merienda; 
}
.banner-text a{
    display:inline-block;
    padding: 10px 50px;
    border: 2px solid #fff;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-top:15px;
}
.banner-img {
    border: 2px solid;
    background-image: url(img/Trad.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 800px;
    width: 1300px;
    margin-left: 300px;
    filter: blur(3px);
}
                            /*deuxieme-section*/
.deuxieme-section {
    margin-left: -20px;
    font-family: Targetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}
    .deuxieme-section h1 {
        margin-left: 70px;
        font-size: 40px;
    }
.deuxieme-section .idee{
    display:inline-block;
    margin-left:40px;
}
.idee p{
    margin-top:-10px;
}
.idee h2{
    font-weight:bold;
}
    .deuxieme-section img {
        width: 353px;
        height: 350px;
    }
.idee .dernier{
    margin-top:-20px;
}

                                    /*Thanksgiving*/

.Thanks {
    text-align: center;
    font-family: Targetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top:30px;
    color:#b15910;
}

                                    /*TROIS*/
.trois{
    display:flex;
    margin-left:370px;
}
.trois div{
    margin-left:30px;
}
    .trois h2 {
        text-align: center;
        color: #b15910;
    }
                                /*BANNIERE*/
.banniere{
    margin-left:350px;
    margin-top:20px;
}
.texteMore {
    text-align: center;
    font-family: Targetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 30px;
    color: #b15910;
    font-size:30px;
}

                                    /*More*/
.More {
    display: flex;
    margin-left: 300px;
}
    .More div {
        margin-left: 30px;
    }
    .More p {
        text-align: center;
    }


                                    /*WRAPPER*/

.body_wapper {
    font-family: Montserrat, sans-serif;
    list-style: none;
    box-sizing: border-box;
    background: #7fc469;
    color: #565e6b;
}
.wrapper {
    width: 1100px;
    height: 500px;
    background: #fff;
    margin: 15px auto 0;
}

.wrapper .title{
        padding: 30px 20px;
        text-align:center;
        font-size:24px;
        font-weight:700;
        border-bottom: 1px solid #ebedec;
    }
.wrapper .tabs_wrap {
        padding: 20px;
        border-bottom: 1px solid #ebedec;
    }
    .wrapper .tabs_wrap ul {
        list-style-type: none;
        display: flex;
        margin-left:-40px;
    }
    .wrapper .tabs_wrap li {
        width: 135px;
        text-align: center;
        background-color: #e9ecf1;
        padding: 13px 15px;
        border-right: 1px solid #c1c4c9;
        transition: all .2s ease;
        cursor: pointer;
    }
    .wrapper .tabs_wrap ul li:first-child{
        border-top-left-radius:25px;
        border-bottom-left-radius:25px;
    }
    .wrapper .tabs_wrap ul li:last-child {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .wrapper .tabs_wrap ul li:hover, .wrapper .tabs_wrap ul li.active {
        background-color: #7fc469;
        color: #fff;
    }
    .wrapper .container ul {
        list-style-type: none;
    }
.wrapper .container .item_wrap {
    padding: 10px 20px;
    border-bottom: 1px solid #ebedec;
    cursor: pointer;
}
    .wrapper .container .item_wrap:hover{
        background-color:#e9ecf1;
    }
    .wrapper .container .item{
        position:relative;
        display:flex;
        align-items:center;
        justify-content:space-between;
    }
.item_wrap .item_left .img{
    display: flex;
    align-items:center;
}
.item_wrap .item_left img {
    display: block;
    width: 70px;
    height: 70px;
}
.item_wrap .item_left .data{
    margin-left:20px;
}
.item_wrap .item_left .name{
    font-weight:600;
}
.item_wrap .item_left .distance{
    color:#7f8b9b;
    font-size:14px;
    margin-top:3px;
}
.item_wrap .item_right .status{
    position:relative;
    color:#77818d;
}
.item_wrap .item_right .status:before{
    content:"";
    position:absolute;
    top:5px;
    left:-12px;
    width:8px;
    height:8px;
    border-radius:50%;
    background-color:#b3bbc8;
}
    .item_wrap.online .item_right .status:before{
        background-color:#7fc469;
    }
.item_wrap.offline .item_right .status{
    color:#b3bbc8;
}
        /* SLIDER CSS*/
.slider_css {
    margin: 0;
    padding: 0;

}
